html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.roboto {
  font-family: 'Roboto Condensed', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
