html,
body,
#root {
  margin: 0;
  font-family: Arial, sans-serif;
}

.appcontainer {
  min-height: 100vh;
}

.roboto {
  font-family: 'Roboto Condensed', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.frijole-regular {
  font-family: 'Frijole', system-ui;
  font-weight: 400;
  font-style: normal;
}
