@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}
body {
  font-family: 'Monaspace Radon', cursive;
}

button,
footer,
h2,
a {
  font-family: 'Fira Code Variable', monospace;
  font-weight: 700;
}

.font-fira {
  font-family: 'Fira Code Variable', monospace;
}
